.game-field {
    display: grid;
    grid-template-columns: repeat(3, auto);
    filter: drop-shadow(0px 4px 20px rgba(44, 57, 121, 0.09));
    width: min-content;
  }
  
  .game-field_cell {
    background: cornflowerblue;
    border: 2px solid white;
    height: 150px;
    width: 150px;
    padding: 10px;
  }
  
  #reset-button {
    width: 300px;
    height: 70px;
    background-color: greenyellow;
    columns: teal;
    text-align: center;
    cursor: pointer;
    border-radius: 10px;
  }

  #reset-button1 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 12px 20px;
    background: #F7F7F7;
    border-radius: 12px;
    margin: 10px auto auto auto;
  }

  p {
    color: black;
    font-size: 14pt;
    font-family: Arial, Helvetica, sans-serif;
  }

  #input {
    -moz-appearance: textfield;
    width: 60px;
  }
  #input::-webkit-inner-spin-button {
    display: none;
  }
  
  .element {
    height: 85px;
    width: 85px;
    margin: -10px;
    padding: 43px;
  }
  
  #resultWindow {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: none;
    position: fixed;
  }

  #overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
  }

  #modalWindow {
    height: 200px;
    width: 300px;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
  }

  #textWindow {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:darkcyan;
    font-size: 40px;
    text-align: center;
  }
  h1 {
    text-align: center;
    color:firebrick;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  .rollback {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 12px 20px;
    background: #F7F7F7;
    border-radius: 12px;
    margin: 10px auto auto auto;
  }